:root{
    --primario: #c42d2c;
    --secundario: #141516;
    --fondo: #fff;

    --font:'Roboto', sans-serif;
    --font-2: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after { 
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--fondo);
}
img{
    width: auto;
}
/**Globales**/
h1, h2, h3, h4{
    font-family: var(--font-2);
    font-weight: 200;
    color: var(--secundario);
}
h2{
    font-size: 3rem;
    font-family: var(--font-2);
}
p{
    font-size: 2rem;
    font-family: var(--font-2);
    font-weight: 200;
    color: var(--secundario);
}
.title{
    font-family: var(--font-2);
    font-weight: 800;
    font-size: 2.4rem;
    padding: 2rem 0;

}
.container{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}
.col-x3{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(
        auto-fit, minmax(20rem, 1fr)
    );
}
.col-x4{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(
        auto-fill, minmax(24rem, 1fr)
    );
}
.center{
    text-align: center;
}
a{
    font-family: var(--font-2);
    font-weight: 200;
}
/**Header**/
header {
    background-color: var(--primario);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    padding: 0.4rem;
}
.catalogo img{
    width: 100%;
}
/**Area niña**/
.tarjeta-imagen img{
    width: 100%;
}
.tarjeta-titulo{
    font-size: 1.8rem;
    font-weight: 100;
    font-family: var(--font-2);
}
.tarjeta-precio{
    font-size: 3rem;
    font-weight: 100;
    color: var(--primario);
}
.vermas{
    display: flex;
    align-items: center;
}
.vermas a{
    font-size: 2rem;
    padding-left: 1rem;
}
.sucursal{
    display: flex;
    flex-direction: column;
}
